# import the dataset

In [1]:
import pandas as pd

df = pd.read_csv("your_data.csv")
df.head()

,Unnamed: 0,Cholesterol,triglyceride,age,hearing(right),hemoglobin,LDL,dental caries,systolic,hearing(left),eyesight(left),smoking
0,0,172,300,55,1,16.5,75,0,135,1,0.5,1
1,1,194,55,70,2,16.2,126,1,146,2,0.6,0
2,2,178,197,20,1,17.4,93,0,118,1,0.4,1
3,3,180,203,35,1,15.9,102,1,131,1,1.5,0
4,4,155,87,30,1,15.4,93,0,121,1,1.5,1

# check if there null element

In [2]:
df.isnull().sum()

Unnamed: 0        0
Cholesterol       0
triglyceride      0
age               0
hearing(right)    0
hemoglobin        0
LDL               0
dental caries     0
systolic          0
hearing(left)     0
eyesight(left)    0
smoking           0
dtype: int64

# print some details about the dataset

In [3]:
df.describe()

,Unnamed: 0,Cholesterol,triglyceride,age,hearing(right),hemoglobin,LDL,dental caries,systolic,hearing(left),eyesight(left),smoking
count,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000
mean,79627.500000,195.796165,127.616046,44.306626,1.023421,14.796965,114.607682,0.197996,122.503648,1.023974,1.005798,0.437365
std,45973.391572,28.396959,66.188989,11.842286,0.151238,1.431213,28.158931,0.398490,12.729315,0.152969,0.402113,0.496063
min,0.000000,77.000000,8.000000,20.000000,1.000000,4.900000,1.000000,0.000000,77.000000,1.000000,0.100000,0.000000
25%,39813.750000,175.000000,77.000000,40.000000,1.000000,13.800000,95.000000,0.000000,114.000000,1.000000,0.800000,0.000000
50%,79627.500000,196.000000,115.000000,40.000000,1.000000,15.000000,114.000000,0.000000,121.000000,1.000000,1.000000,0.000000
75%,119441.250000,217.000000,165.000000,55.000000,1.000000,15.800000,133.000000,0.000000,130.000000,1.000000,1.200000,1.000000
max,159255.000000,393.000000,766.000000,85.000000,2.000000,21.000000,1860.000000,1.000000,213.000000,2.000000,9.900000,1.000000

# Print the ratio between two classes

In [2]:
df.smoking.value_counts()

0    89603
1    69653
Name: smoking, dtype: int64

# drop the target from the dataset

In [3]:
X = df.drop("smoking",axis="columns")
y = df.smoking
y

0         1
1         0
2         1
3         0
4         1
         ..
159251    0
159252    0
159253    0
159254    1
159255    0
Name: smoking, Length: 159256, dtype: int64

# scale the data

In [4]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

c:\Users\alita\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

array([[-1.73203993, -0.83798548,  2.60442859,  0.90298511, -0.15486487,
         1.1899277 , -1.40658059, -0.49686626,  0.98170175, -0.15672539,
        -1.2578561 ],
       [-1.73201818, -0.06325221, -1.09710504,  2.16963644,  6.45724233,
         0.98031465,  0.40457337,  2.01261403,  1.84585151,  6.38058705,
        -1.00916876],
       [-1.73199643, -0.62669459,  1.04827363, -2.05253466, -0.15486487,
         1.81876686, -0.76734978, -0.49686626, -0.35380241, -0.15672539,
        -1.50654343]])

# split dataset into training and testing data

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [9]:
X_train.shape

(119442, 11)

In [12]:
X_test.shape

(39814, 11)

In [7]:
y_train.value_counts()

0    67202
1    52240
Name: smoking, dtype: int64

# Train using Bagging

In [8]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7314345037758913

In [9]:
bag_model.score(X_test, y_test)

0.7371025267493846

# Train using Random Forest

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
randomForest = RandomForestClassifier(n_estimators= 100)
randomForestModel = randomForest.fit(X_train,y_train)
y_pred_0 = randomForestModel.predict(X_test)
# randomForestModel.oob_score_
print("Accuracy  :",metrics.accuracy_score(y_test,y_pred_0))

Accuracy  : 0.7397900236097855

# training using Ada Boost

In [11]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics
Adamodel = AdaBoostClassifier(n_estimators=100 ,learning_rate=1)
model = Adamodel.fit(X_train,y_train)
y_pred = model.predict(X_test)
print("Accuracy 1 :",metrics.accuracy_score(y_test,y_pred)) 
# -----------------------------------------------------------
# using logisticRegression 
from sklearn.linear_model import LogisticRegression 
logisticModel = LogisticRegression()
Adamodel_2 = AdaBoostClassifier(n_estimators=50 ,base_estimator=logisticModel,learning_rate=1)
model_2 = Adamodel_2.fit(X_train,y_train)
y_pred_2 = model_2.predict(X_test)
print("Accuracy 2 :",metrics.accuracy_score(y_test,y_pred_2))

Accuracy 1 : 0.7414226151604963
Accuracy 2 : 0.7189682021399507